@*
  
    IEnumerable<string> strList = new List<string>{"POO","TW","MAT3","FIS1"};
*@
@{
    IEnumerable<string> marcaList = new List<string> { "Lenovo", "Samsumg", "Hp" };
}
@{
    <body>
        <div>
            <h1>Tabla equipos</h1>
            @*Inicio del Fromulario*@
            <form asp-action="CrearEquipos">
                <div class="from-grup row mb-4">
                    
                    <div class="col-sm-2">
                        <label>Nombre</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("txtUserName", "", new {@class="form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Descripción del equipo")
                    </div>
                    <div class="col-sm-4">
                        @Html.TextArea("Descripción", "", new{@class="form-control", @placeHolder="Ingresa la descripcion"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("tipo de equipo")
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownList("id_tipo_equipo", ViewData["listadoDeTipo"] as SelectList, "Seleccione un tipo", new {@class="form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Marca")
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownList("marca_id", ViewData["listadoDeMarcas"] as SelectList, "Seleccione una marca", new {@class="form-control"})
                    
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("modelo")
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("txtmodelo", "", new {@class="form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("año de compra")
                        </div>
                    <div class="col-sm-4">
                        @Html.TextBox("txtAnio", "", new {@class="form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("costo")
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("txtCosto", "", new {@class="form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("vida util:")
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBox("txtmodelo", "", new {@class="form-control"})
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("estado del equipo")
                    </div>
                    <div class="col-sm-4">
                        @Html.CheckBox("inactivo") Inactivo
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Envar datos</button>
                    </div>
                </div>
            </form>
            @*Fin del Fromulario*@
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var equipo in (IEnumerable<dynamic>)ViewData["listadoEquipo"])
                {
                    <tr>
                        <td>@equipo.nombre</td>
                        <td>@equipo.descripcion</td>
                        <td>@equipo.marca_nombre</td>
                    </tr>
                }

            </tbody>
        </table>
    </body>
}
